body {
    background-color: rgb(177, 177, 177);
}

#root {
    width: 70vw;
    height: 70vh;
    margin: auto;
    margin-top: 10vh;
    padding: 2rem;
    background-color: rgb(36, 75, 233);
    border-radius: 5%;
}

#home {
    display: grid !important;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
#home > img {
    grid-row: 12/ 21;
    grid-column: 1 / 10;
}

#user {
    grid-row: 1 / 10;
    grid-column: 1 / 13;
}

.user-block {
    background-color: rgb(181, 11, 11);
    padding: 2rem;
    border-radius: 5%;
    text-align: center;
}

.user-block>a {
    background-color: #d0e500;
    border: #e5b700 solid 2px;
}

.user-block>a:hover {
    background-color: #1dbf73;
    border: #1dbf73 solid 2px;
}
#channelSelector {
    grid-row: 1 / 21;
    grid-column: 14 / 31;
}

.channels {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.channel {
    text-align: center;
    width: 9rem;
    height: 6rem;
    background-color: #d36f47;
    border-radius: 5%;
}

.channel:hover {
    cursor: pointer;
    border:#1dbf73 solid 2px;
}

